body {
  padding: 0;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: white;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Cormorant SC', sans-serif;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

.prog{
  color: white;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.first-child {
  background-color: grey;
  border: 0;
  padding: 0;
}

.last-child {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  padding: 0;
  background-color: black;
  position: relative;
  width: 70%;
  height: 350px;
  top: 40px;
  margin-left: 40px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: black;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.math-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bob-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: grey;
  background-image: -webkit-linear-gradient(top, grey, grey);
  background-image: -moz-linear-gradient(top, grey, grey);
  background-image: -ms-linear-gradient(top, grey, grey);
  background-image: -o-linear-gradient(top, grey, grey);
  background-image: linear-gradient(to bottom, grey, grey);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: grey;
  background-image: -webkit-linear-gradient(top,grey, grey);
  background-image: -moz-linear-gradient(top,grey, grey);
  background-image: -ms-linear-gradient(top,grey, grey);
  background-image: -o-linear-gradient(top,grey, grey);
  background-image: linear-gradient(to bottom,grey, grey);
  text-decoration: none;
}